
#servicess-section{
    flex-direction: column;
  
}
 .btn{
    right: 20px;
}
#servicess-section .sbox img{

    height: 80px;
    width: 80px;
    margin: auto;
    display: block;
    padding: 0;
    margin: 0;
}
.client {
    display: flex;
flex-direction: column;

}

